# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

PORT=8000
ACCESS_TOKEN_SECRET="4df417e3f8e045911327834e8e9d03a6618d37d8860cc8ef28cbc29d40241499"
REFRESH_TOKEN_SECRET="3e70ed08dd2e94c462c56dbdae76ca48d8c36f8c4e5e5cfdab8c1c7080aeff9d"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/auth-provider?schema=public"
